@{
    ViewData["Title"] = "Admin Panel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 d-flex justify-content-center align-items-center flex-column" style="height: 90vh">
    <div class="bg-img"></div>
    <h3>What do you want to do?</h3>
</div>