@model Holidayaro.Models.Hotel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="removal-modal m-auto">
    <div class="removal-modal-img mt-5"></div>
    <h5 class="mt-4">Want to Delete</h5>
    <div class="removal-modal-warning">
        <span>Are you sure want to delete</span>
        <span class="name">@Model.Name</span>
        <span>? You will not be able to recover them.</span>
    </div>
    <form asp-action="Delete">
        <div class="removal-modal-btns mt-5">

            <input type="hidden" asp-for="HotelId" />
            <input type="submit" class="btn" value="Delete" />
            <a class="btn btn-without-bg" asp-action="Index">Cancel</a>


        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}