@{
    ViewData["Title"] = "Home Page";
}

<div class="col">
    <div></div>
</div>
<div class="row offers p-0" id="offers">

</div>

@section Scripts {
    <script src="~/js/offers.js" asp-append-version="true"></script>
}