@{
    ViewData["Title"] = "Home Page";
}

<div class="col">
    <div>
        <p id="price-filter-input-value"></p>
        <input type="range" min="0" max="30000" value="1000" id="price-filter-input" />
        <p>Hotel stars:</p>
        <div class="stars-filter-box"></div>
        <p>days</p>
        <select id="min-days-select">

        </select> 
        
        <select id="max-days-select"  >

        </select>

        <div class="countries-filter-box">

        </div>
    </div>
</div>
<div class="row offers p-0" id="offers">

</div>

@section Scripts {
    <script src="~/js/offers.js" asp-append-version="true"></script>
}