@{
    ViewData["Title"] = "Home Page";
}

<div class="col-2 filter-box">
    <div class="filter-box-top filter-box-item">
        <span id="results"></span>
        <p id="reset-filter-btn">Reset filter</p>
    </div>
    <div class="filter-box-item">
        <label>Price</label>
        <div class="price-box">
            <p>$0</p>
            <p id="price-filter-input-value"></p>
        </div>
       
        <input type="range" min="0" max="3000" value="3000" step="100" id="price-filter-input" />
    </div>
    <div class="filter-box-item">
        <label>Guests Rating</label>
        <div class="stars-filter-box"></div>
    </div>
    <div class="filter-box-item">

        <label>Length Of Stay</label>
        <div class="select-box">
            <select id="min-days-select">
            </select>
            <span>-</span>
            <select id="max-days-select">
            </select>
        </div>
    </div>
    <div class="filter-box-item">
        <label>Country</label>
        <div class="countries-filter-box">

        </div>
        </div>
 
    </div>
    <div class="col-10 mx-auto">
        <div class="row offers p-0 m-auto" id="offers">

        </div>
    </div>


    @section Scripts {
        <script src="~/js/offers.js" asp-append-version="true"></script>
    }
