@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="d-flex flex-column mx-auto">
    <h3>@ViewData["Title"]</h3>
    <p>The application was created for the purpose of completing the course "Programming in the ASP.NET environment"</p>
    <p>&copy; 2021 - Holidayaro </p>
</div>


