@page
@model LoginModel

@{
    ViewData["Title"] = "Sign In";
}

<div class="login-form m-auto">
    <div class="login-form-img mt-3"></div>
    <h5 class="mt-4">Sign In</h5>
    <div class="login-form-box">
        <form id="account" method="post">
            <div class="login-form-box-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email"  />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="login-form-box-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password"  />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="login-form-box-group mt-2">
                <div class="checkbox  ">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe"  />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="login-form-box-group  mt-2">
                <button type="submit" class="btn">Sign in</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
