@model Holidayaro.Models.Reservation

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="removal-modal m-auto">
    <div class="removal-modal-img mt-5"></div>
    <h5 class="mt-4">Want to Delete</h5>
    <div class="removal-modal-warning">
        <span>Are you sure want to delete reservation  </span>
        <span class="name">@Model.Hotel.Name </span>
        <span>made by</span>
        <span class="name">@Model.Name @Model.Surname</span>
        <span>? You will not be able to recover them.</span>
    </div>
    <form asp-action="Delete">
        <div class="removal-modal-btns mt-5">

            <input type="hidden" asp-for="ReservationId" />
            <input type="submit" class="btn" value="Delete" />
            <a class="btn btn-without-bg" asp-action="Index">Cancel</a>


        </div>
    </form>
</div>
    

