@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    height: 600px;

    &-bg {
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('https://images3.alphacoders.com/779/thumb-1920-779092.jpg')
    }

    .navbar {

        &-brand {
            color: white;
            font-size: 30px;
            font-weight: 600;
        }

        &-nav {
            &:nth-child(2) {
                .nav-item {
                    &:last-child {
                        &:hover {
                            &::after {
                                left: 45%;
                            }
                        }


                        .nav-link {
                            margin-right: 0;
                        }
                    }
                }
            }



            .nav-item {
                border-bottom: 2px solid rgba(255, 255, 255, 0.3);
                position: relative;


                &:hover {
                    &::after {
                        content: '';
                        width: 30%;
                        background-color: white;
                        height: 4px;
                        position: absolute;
                        bottom: -2px;
                        left: 30%;
                        transform: translateX(-30%)
                    }
                }


                .nav-link {
                    color: white;
                    text-transform: uppercase;
                    font-weight: 500;
                    margin-right: 2rem;
                }
            }
        }
    }
}

.default-layout {
    width: 100%;
    height: 100vh;

    main {
        width: 100%;
        height: 100%;

        .row {
            width: 100%;

            h5 {
                font-weight: 400;
                margin-bottom: 1rem;
                color: #636363;
            }
        }
    }


    form {
        .form-group {
            position: relative;
            margin-bottom: 1.5rem;


            .form-control, input, a {
                outline: none !important;
                background-color: transparent;
                border: 2px solid #D3D8DC;
                padding-left: 3.5rem;
                color: #D3D8DC;
                font-size: 13px;
                padding-top: 0.6rem;
                padding-bottom: 0.6rem;
                max-width: 100%;
                height: unset;

                &:focus {
                    box-shadow: unset;
                }

                &::placeholder {
                    color: #D6DADD;
                    font-size: 13px;
                }
            }

            i {
                position: absolute;
                top: 50%;
                left: .5rem;
                transform: translateY(-50%);
                font-size: 24px;
                color: #D3D8DC;
                border-right: 2px solid #D3D8DC;
                padding-right: .5rem;
            }

            .btn {
                background-color: #78B9B8;
                border: none;
                padding: 8px 20px;
                min-width: unset;
                flex-basis: 50%;
                transition: .3s all;

                &:first-child {
                    background-color: transparent;
                    border: 1px solid #78B9B8;
                    color: #78B9B8;
                }

                &:hover {
                    transform: scale(0.9)
                }
            }

            .text-danger {
                font-size: 10px;
                position: absolute;
            }
        }

        .items {
            max-height: 110px;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 6px;
                height: 6px;
            }

            &::-webkit-scrollbar-track {
                background: #D3D8DC;
                border-radius: 20px;
            }

            &::-webkit-scrollbar-thumb {
                background: #78B9B8;
                border-radius: 20px;
            }

            span {
                background-color: #78B9B8;
                padding: 5px 8px;
                padding-right: 15px;
                font-size: 12px;
                border-radius: 2px;
                color: #D3D8DC;
                margin-right: 5px;
                margin-bottom: 5px;
                position: relative;

                small {
                    position: absolute;
                    top: 0;
                    right: 4px;
                    cursor: pointer;
                }
            }
        }
    }
}


.sidebar {
    background-color: #42425C;
    width: 250px;
    height: 100vh;

    &-link-item {
        padding: 10px 0;
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: .2s all;
        text-decoration: none !important;

        i {
            margin-left: 2rem;
            color: #828293;
            font-size: 24px;
        }

        p {
            margin-left: 1rem;
            color: #A8A8B5;
            font-size: 1rem;
            margin-bottom: 0;
            font-weight: 500;
        }

        &:hover {
            background-color: #3A384E;
        }
    }
}

.admin-layout {
    main {

        .bg-img {
            width: 50%;
            height: 30%;
            background-image: url('../assets/decide.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin-bottom: 2rem;
        }

        h3 {
            color: #3F3D56;
            font-size: 24px;
        }

        h5 {
            color: #42425B;
        }
    }
}

.table-box {
    box-shadow: 0 0 15px rgba(#000, .2);
    background-color: white;
    padding: 0 10px;

    &-top {
        padding: 2rem;


        .btn {
            outline: none;
            font-size: 14px;
            box-shadow: unset;
            padding: .375rem 1.5rem;
        }

        label {
            color: #A6A5B3;
            font-size: 13px;
            font-weight: 500;
        }

        .btns-box {
            .btn {
                border: 2px solid #A6A5B3;
                padding: 5px;
                display: flex;
                border-radius: 0;

                &:first-child {
                    border-right: 0;
                }

                i {
                    color: #A6A5B3;
                }
            }
        }



        select {
            border: 2px solid #A6A5B3;
            height: 10px;
            padding: 9px 12px;
            color: #A6A5B3;
            outline: none;
        }
    }

    table {
        thead {


            tr {
                background-color: #E9E9F3;
                color: #C7C7D3;


                th {
                    font-weight: 600;
                    font-size: 12px;
                    text-transform: uppercase;
                    border-bottom: 0;
                }
            }
        }

        tbody, thead {
            tr {

                &:nth-child(2n) {
                    background-color: #FAFAFC;
                }

                td, th {
                    overflow: auto;
                    max-height: 50px;
                    border-top: 1px solid #F7F7F8;
                    font-size: 12px;
                    color: #ACACB8;

                    &:first-child {
                        padding-left: 1rem;
                    }

                    &:last-child {
                        div {
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;


                            a {
                                flex-basis: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                text-decoration: none;
                                transition: .2s all;

                                &:hover {
                                    transform: scale(0.93)
                                }

                                &:last-child {
                                    margin-right: 0;
                                }

                                i {
                                    font-size: 1rem;
                                    color: #ACACB8;
                                }
                            }
                        }
                    }

                    div {
                        min-height: 50px;
                        max-height: 50px;
                        overflow: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        max-width: 200px;


                        &::-webkit-scrollbar {
                            width: 6px;
                            height: 6px;
                        }

                        &::-webkit-scrollbar-track {
                            background: #E9E9F3;
                            border-radius: 20px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background: #D3D8DC;
                            border-radius: 20px;
                        }



                        p {
                            margin-bottom: 0;
                            font-size: 13px;
                            color: #ACACB8;
                        }
                    }
                }

                th {
                    border-top: 0;
                }
            }
        }
    }
}

.offers {
    margin-top: 5rem;

    .offer-box {
        min-height: 300px;
        max-height: 300px;
        box-shadow: 0 0 15px rgba(#000, .2);
        padding: unset;
        border-radius: 20px;
        margin: 1rem;
        cursor: pointer;
        transition: .2s all;
        overflow: hidden;

        &:hover {
            transform: translateY(-5px);
        }



        &-bg {
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position: center;
            position: relative;

            &-country, &-price {
                min-width: 100px;
                max-width: 120px;
                background-color: #FD9A09;
                padding: 3px 0;
                position: absolute;
                top: 1rem;
                right: 0;
                z-index: 2;
                box-shadow: 0 0 15px rgba(#000, .2);
                border-radius: 15px 0 0 15px;
                text-align: center;

                p {
                    text-transform: uppercase;
                    color: white;
                    font-size: 13px;
                    font-weight: 500;
                }
            }

            &-price {
                min-width: 120px;
                background-color: white;
                top: unset;
                right: unset;
                left: 0;
                bottom: 1rem;
                border-radius: 0 15px 15px 0;

                p {
                    color: #145CE6;
                    font-weight: 600;
                    font-size: 15px;
                }
            }
        }

        &-info {
            display: flex;
            flex-direction: column;

            &-item {
                display: flex;
                align-items: center;

                i {
                    font-size: 1rem;
                    margin-right: 1rem;
                    color: #DADADA;
                }

                p {
                    font-size: 13px;
                    font-weight: 600;
                    color: #757575;
                }
            }

            h6 {
                color: #2F2F2F;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 600;
            }
        }

        .stars-box {
            margin-bottom: .5rem;

            i {
                margin-right: 5px;
                color: #f8cb00;
            }
        }

        p {
            margin-bottom: 0;
        }
    }
}


.filter-box {
    margin-top: 5rem !important;

    &-top {
        border-top: 1px solid #EDEFEF;
        padding: 10px 1rem !important;
        flex-direction: row !important;
        align-items: center;
        justify-content: space-between;

        p {
            margin-bottom: 0;
            color: #1488ed;
            font-size: 13px;
            font-weight: 500;
            cursor: pointer;
        }

        span {
            color: #B1B1B3;
            font-size: 18px;
        }
    }

    &-item {
        width: 100%;
        padding: 1rem;
        background-color: transparent;
        border-bottom: 1px solid #EDEFEF;
        display: flex;
        flex-direction: column;

        label {
            color: #B0B2B3;
            font-size: 14px;
            font-weight: 500;
        }

        .price-box {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                margin-bottom: 0.5rem;
                font-size: 14px;
                color: #FD9A09;
                font-weight: 500;
            }
        }

        .select-box {
            display: flex;
            align-items: center;

            span {
                margin: 0 10px;
                font-size: 1.2rem;
                color: #B0B2B3;
            }

            select {
                flex-basis: 45%;
                padding: 3px 0;
                border: 1px solid #EDEFEF;
                color: #B0B2B3;
                text-align: center;
                border-radius: 5px;
                font-size: 14px;
            }
        }

        .country-filter-box {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            cursor: pointer;
            transition: .2s all;

            &:hover {
                p {
                    font-weight: 500;
                }

                .checkbox {
                    background-color: #1488ED;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:first-child {
                margin-top: 10px;
            }


            .checkbox {
                border: 2px solid #1488ED;
                width: 15px;
                height: 15px;
                border-radius: 5px;
                margin-right: 20px;
            }

            p {
                margin-bottom: 0;
                color: #B0B2B3;
                font-size: 14px;
            }
        }

        .stars-filter-box {
            display: flex;
            align-items: center;
            justify-content: center;





            .star-btn {
                display: flex;
                border: 1px solid #EDEFEF;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                padding: 6px 10px;
                font-size: 12px;
                margin-right: 20px;
                outline: none;
                background-color: transparent;
                transition: .2s all;

                &:hover {
                    i, p {
                        color: #F7B83A;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }

                p {
                    margin-right: 5px;
                    font-weight: 600;
                    margin-bottom: 0;
                }

                p, i {
                    color: #868A8D;
                }
            }
        }
    }
}


