@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    height: 600px;

    &-bg {
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('https://www.plants-wallpapers.com/plant/holiday-sea-sky-beaches-palms-tropical.jpg')
    }

    .navbar {

        &-brand {
            color: white;
            font-size: 30px;
            font-weight: 600;
        }

        &-nav {
            &:nth-child(2) {
                .nav-item {
                    &:last-child {
                        &:hover {
                            &::after {
                                left: 45%;
                            }
                        }


                        .nav-link {
                            margin-right: 0;
                        }
                    }
                }
            }



            .nav-item {
                border-bottom: 2px solid rgba(255, 255, 255, 0.3);
                position: relative;


                &:hover {
                    &::after {
                        content: '';
                        width: 30%;
                        background-color: white;
                        height: 4px;
                        position: absolute;
                        bottom: -2px;
                        left: 30%;
                        transform: translateX(-30%)
                    }
                }


                .nav-link {
                    color: white;
                    text-transform: uppercase;
                    font-weight: 500;
                    margin-right: 2rem;
                }
            }
        }
    }
}

.default-layout {
    width: 100%;
    height: 100vh;

    main {
        width: 100%;
        height: 100%;

        .row {
            width: 100%;

            h5 {
                font-weight: 400;
                margin-bottom: 1rem;
                color: #636363;
            }
        }
    }


    form {
        .form-group {
            position: relative;
            margin-bottom: 1.5rem;


            .form-control, input, a {
                outline: none !important;
                background-color: transparent;
                border: 2px solid #D3D8DC;
                padding-left: 3.5rem;
                color: #D3D8DC;
                font-size: 13px;
                padding-top: 0.6rem;
                padding-bottom: 0.6rem;
                max-width: 100%;
                height: unset;

                &:focus {
                    box-shadow: unset;
                }

                &::placeholder {
                    color: #D6DADD;
                    font-size: 13px;
                }
            }

            i {
                position: absolute;
                top: 50%;
                left: .5rem;
                transform: translateY(-50%);
                font-size: 24px;
                color: #D3D8DC;
                border-right: 2px solid #D3D8DC;
                padding-right: .5rem;
            }

            .btn {
                background-color: #78B9B8;
                border: none;
                padding: 8px 20px;
                min-width: unset;
                flex-basis: 50%;
                transition: .3s all;

                &:first-child {
                    background-color: transparent;
                    border: 1px solid #78B9B8;
                    color: #78B9B8;
                }

                &:hover {
                    transform: scale(0.9)
                }
            }

            .text-danger {
                font-size: 10px;
                position: absolute;
            }
        }

        .items {
            max-height: 110px;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 6px;
                height: 6px;
            }

            &::-webkit-scrollbar-track {
                background: #D3D8DC;
                border-radius: 20px;
            }

            &::-webkit-scrollbar-thumb {
                background: #78B9B8;
                border-radius: 20px;
            }

            span {
                background-color: #78B9B8;
                padding: 5px 8px;
                padding-right: 15px;
                font-size: 12px;
                border-radius: 2px;
                color: #D3D8DC;
                margin-right: 5px;
                margin-bottom: 5px;
                position: relative;

                small {
                    position: absolute;
                    top: 0;
                    right: 4px;
                    cursor: pointer;
                }
            }
        }
    }
}


.sidebar {
    background-color: #42425C;
    width: 250px;
    height: 100vh;

    &-link-item {
        padding: 10px 0;
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: .2s all;
        text-decoration: none !important;

        i {
            margin-left: 3rem;
            color: #828293;
            font-size: 24px;
        }

        p {
            margin-left: 1rem;
            color: #A8A8B5;
            font-size: 1rem;
            margin-bottom: 0;
            font-weight: 500;
        }

        &:hover {
            background-color: #3A384E;
        }
    }
}

.admin-layout {
    main {

        .bg-img {
            width: 50%;
            height: 30%;
            background-image: url('../assets/decide.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin-bottom: 2rem;
        }

        h3 {
            color: #3F3D56;
            font-size: 24px;
        }
    }
}

.table-box {
    box-shadow: 0 0 15px rgba(#000, .2);
    background-color: white;
    padding: 0 10px;

    table {
        thead {


            tr {
                background-color: #E9E9F3;
                color: #C7C7D3;


                th {
                    font-weight: 600;
                    font-size: 12px;
                    text-transform: uppercase;
                    border-bottom: 0;
                }
            }
        }

        tbody, thead {
            tr {

                &:nth-child(2n) {
                    background-color: #FAFAFC;
                }

                td, th {
                    overflow: auto;
                    max-height: 50px;
                    border-top: 1px solid #F7F7F8;
                    font-size: 12px;
                    color: #ACACB8;

                    &:first-child {
                        padding-left: 1rem;
                    }

                    &:last-child {
                        div {
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;


                            a {
                                flex-basis: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                text-decoration: none;
                                transition: .2s all;

                                &:hover {
                                    transform: scale(0.93)
                                }

                                &:last-child {
                                    margin-right: 0;
                                }

                                i {
                                    font-size: 1rem;
                                    color: #ACACB8;
                                }
                            }
                        }
                    }

                    div {
                        min-height: 50px;
                        max-height: 50px;
                        overflow: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;


                        &::-webkit-scrollbar {
                            width: 6px;
                            height: 6px;
                        }

                        &::-webkit-scrollbar-track {
                            background: #E9E9F3;
                            border-radius: 20px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background: #D3D8DC;
                            border-radius: 20px;
                        }



                        p {
                            margin-bottom: 0;
                            font-size: 13px;
                            color: #ACACB8;
                        }
                    }
                }

                th {
                    border-top: 0;
                }
            }
        }
    }
}
