
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h1>Login</h1>

<form method="post" action="/identity/account/login">
  



    <button type="submit">Send</button>
</form>